{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper body-width">
  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
    {{ $link := .RelPermalink }}
    {{ $target := "" }}
    {{ with .Params.external_link }}
      {{ $link = . }}
      {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
    {{ end }}
    <div>
      <h2><a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ .Title }}</a></h2>
      <div class="article-style">
        {{ if .Params.summary }}
          {{ .Params.summary | plainify | emojify }}
        {{ else if .Params.abstract }}
          {{ .Params.abstract | plainify | emojify | truncate 250 }}
        {{ else if .Summary }}
          {{ .Summary | plainify | emojify }}
        {{ end }}
      </div>
    </div>
  {{ end }}

  {{ partial "pagination" . }}
</div>

{{- end -}}
